.scoreboard_add_team
{
  position: absolute;
  right: 2%;
  bottom: 2%;
  margin: 0px 10px;
  padding: 8px 15px;
  font-size: 16px;
  color: #bbbbbb;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}
  .scoreboard_add_team:hover
  {
    color: #999999;
    border-color: #cccccc;
  }

.scoreboard_add_team:before
{
  content: "add new team";
}
