/* --- gameplay */

.gameplay_question
{
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0px;
  line-height: 40px;
  font-size: 20px;
  color: #999999;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #ffffff;
  cursor: pointer;
}
  .gameplay_question.gameplay_question_played
  {
    border-color: transparent;
    color: #e8e8e8;
    background-color: #ffffff;
  }
  .gameplay_question:hover
  {
    color: #333333;
    border-color: #999999;
  }
.gameplay_question:before
{
  content: "";
  position: absolute;
  display: block;
  top: -10px;
  left: 50%;
  width: 6px;
  height: 6px;
  margin-left: -3px;
  border-radius: 6px;
  background-color: #33dd33;
}
  .gameplay_question.gameplay_question_played:before
  {
    background-color: #dd3333;
  }
  /* turn off user level stuff */
  .gameplay_question:after
  {
    content: none;
  }
  .gameplay_question.gameplay_question_playing
  {
    border-color: transparent;
    box-shadow: none;
    -moz-animation: none;
    -webkit-animation: none;
    animation: none;
  }
  .gameplay_question.gameplay_question_playing:before
  {
    width: 0px;
    height: 0px;
    margin-left: -6px;
    border: 6px solid transparent;
    border-color: #fe6c1d transparent transparent transparent;
    border-radius: 0px;
    background-color: transparent;
  }

.gameplay_question_controls
{
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: auto;
  height: auto;
}
.gameplay_show_answer,
.gameplay_edit_question,
.gameplay_delete_question
{
  display: none;

  position: absolute;
  bottom: -35px;
  width: 100%;
  line-height: 20px;
  font-size: 10px;
  color: #cccccc;
  text-align: center;
}
  .gameplay_question.gameplay_question_playing:hover .gameplay_show_answer
  {
    display: block;
  }
  .gameplay_show_answer:hover,
  .gameplay_edit_question:hover,
  .gameplay_delete_question:hover
  {
    color: #444444;
  }
.gameplay_edit_question
{
  bottom: -20px;
}
/* when it's last question and it's current
 * shift answer control a notch down
 */
.gameplay_question:last-child .gameplay_show_answer
{
  bottom: -50px;
}
  .gameplay_question:hover .gameplay_edit_question,
  /* show delete button only for the last question */
  .gameplay_question:last-child:hover .gameplay_delete_question
  {
    display: block;
  }
  .gameplay_question.gameplay_question_playing .gameplay_delete_question
  {
    display: none;
  }

.gameplay_edit_question:before
{
  content: "edit";
}
.gameplay_delete_question:before
{
  content: "delete";
}
.gameplay_show_answer:before
{
  content: "answer";
}

/* override forms */

.formprompt_field_played>input[type=checkbox]
{
  margin-right: 476px;
}


/* --- scoreboard & gameplay DMZ */

.scoreboard_control,
.gameplay_control
{
  margin-left: 10px;
  padding: 5px 15px;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 14px;
  color: #cccccc;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #ffffff;
  cursor: pointer;
}
  .scoreboard_control:hover,
  .gameplay_control:hover
  {
    color: #333333;
    border-color: #999999;
  }

.gameplay_add_question
{
  position: absolute;
  top: 8px;
  left: 0px;
  margin-left: 0px;
}
.gameplay_add_question:before
{
  content: "add question";
}

.gameplay_start_timer
{
  position: absolute;
  top: 8px;
  right: 0px;
}
  .gameplay_start_timer.timer_running_out
  {
    color: #fe6c1d;
  }
.gameplay_start_timer:before
{
  content: "start timer";
}
  .gameplay_start_timer[data-timer]:before
  {
    content: "stop timer :" attr(data-timer);
  }


/* --- scoreboard */

.scoreboard_add_team
{
  position: absolute;
  top: 0px;
  left: 0px;
  margin-left: 0px;
}
.scoreboard_add_team:before
{
  content: "add new team";
}

.scoreboard_team_points,
.scoreboard_team_time_spent
{
  display: inline-block;
  min-width: 0px;
  width: 50%;
}
.scoreboard_team_time_spent
{
  color: #999999;
}


.scoreboard_team_controls
{
  display: none;

  position: absolute;
  top: 0px;
  left: 0px;
  width: 35px;
  height: 70px;
}
  .scoreboard_team:hover .scoreboard_team_controls
  {
    display: block;
  }
.scoreboard_edit_team,
.scoreboard_delete_team
{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.scoreboard_edit_team:before,
.scoreboard_delete_team:before
{
  display: inline-block;
  width: 35px;
  line-height: 35px;
  font-size: 10px;
  text-align: left;
  color: #cccccc;
}
  .scoreboard_edit_team:hover:before,
  .scoreboard_delete_team:hover:before
  {
    color: #444444;
  }
.scoreboard_edit_team:before
{
  content: "edit";
}
.scoreboard_delete_team:before
{
  content: "delete";
}
