/* reset */
*,
*:before,
*:after
{
  box-sizing: border-box; /* unify elements with form controls */
  -moz-box-sizing: border-box; /* IE8 has it, but FF doesn't */
  margin: 0px; /* tight pants */
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-style: normal; /* italics? really? */
  background-position: center center; /* who uses background for tiling these days? */
  background-repeat: no-repeat;
  vertical-align: inherit;

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
html
{
  width: 100%; /* Firefox is new IE */
  height: 100%;
}
body
{
  min-width: 100%;
  min-height: 100%;
}

/* app */
body
{
  font-family: "Ubuntu Condensed", sans-serif;
}

/* it just flashes there
 * if you have plugins actiation on click
 * in Google Chrome
 */
body>object
{
  opacity: 0;
}

/* pre script */
body .hidden
{
  display: none;
}

