.modal_is_modal
{
  z-index: 11;
}
.modal_cover
{
  position: fixed;
  display: block;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: #fcfcfc;
  opacity: 0.7;
  /* this should cover everything, otherwise other party should be refactored */
  z-index: 10;
}
/* blurrrr */
body.modal_under_modal>div:not(.modal_is_modal)
{
  -webkit-filter: blur(4px);
  filter: blur(4px);
}
/* being real modal and prevent blocked content scrolling */
body.modal_under_modal
{
  overflow: hidden;
}

